

/* location controls (tokyo, france, nyc, etc) */
.location-controls-container {
  position: absolute;
  left: 44.5%;
  bottom: 10%;
}

.location-controls-flex-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  opacity: .7;
  height: 85px;
  border-radius: 6px;
}

  /* buttons in location controls */
  #location-controls-button {
    height: 30px;
    width: 100px;
    margin: auto;
    font-weight: 800;
    text-transform: uppercase;
    border: thin, white, 1px;
    background-color: transparent;
    border-radius: 4px;
  }

/* Nusic Controls */

/* Music controls (tokyo, france, nyc, etc) */
.Music-controls-container {
  position: absolute;
  left: 44.5%;
  top: 5%;
}

.Music-controls-flex-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  opacity: .7;
  height: 85px;
  border-radius: 6px;
}

  /* buttons in Music controls */
  #Music-controls-button {
    height: 30px;
    width: 100px;
    margin: auto;
    font-weight: 800;
    text-transform: uppercase;
    border: thin, white, 1px;
    background-color: transparent;
    border-radius: 4px;
  }

