

/* location controls (tokyo, france, nyc, etc) */
.location-controls-container {
  position: absolute;
  left: 44.5%;
  bottom: -6%;
  width: 15%;
  height: 15%;
  z-index: 20;
}

.location-controls-flex-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  opacity: .65;
  border-radius: 6px;
  border: groove 2px whitesmoke;
  border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    height: 60%;
}

  /* buttons in location controls */
  .location-controls-button {
    height: 30px;
    width: 100px;
    margin: auto;
    font-weight: 800;
    text-transform: uppercase;
    border: thin, white, 1px;
    background-color: transparent;
    border-radius: 4px;
  }

/* Nusic Controls */

/* Music controls (tokyo, france, nyc, etc) */
.Music-controls-container {
  position: absolute;
  left: 44.5%;
  top: 5%;
  width: 15% !important;
  height: 15% !important;
  z-index: 20;
}

.Music-controls-flex-wrapper {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  opacity: .65;
  border-radius: 6px;
  border: groove 2px whitesmoke;
  border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 60%;
}

  /* buttons in Music controls */
  #Music-controls-button {
    height: 30px;
    width: 100px;
    margin: auto;
    font-weight: 800;
    text-transform: uppercase;
    border: thin, white, 1px;
    background-color: transparent;
    border-radius: 4px;
  }

