.music-controls-container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}

  .music-controls-nav {
    display: flex;
    width: 50%;
    height: 100%;
    font-family: sans-serif;
  }
    .current-track-section {
      display: table;
      text-overflow: ellipsis;
      vertical-align: bottom;
      line-height: 1;
      margin: auto 4%;
    }
      .current-track-label {
        font-size: 28px;
        font-size: 1.4vw;
        color: white;
        cursor: pointer;
        transition: ease-out .2s;
        white-space: nowrap;
      }

    .hidden-index-section {
      position: absolute;
        left: 10.5%;
        bottom: 90%;
      display: block;
      width: 30%;
      border-radius: 4px;
      background-color: black;
        opacity: .75;
      text-overflow: ellipsis;
    }

  .hidden-index-items {
    color: white;
    min-height: 1em;
    display: block;
    padding: 1em;
    line-height: 1;
    cursor: pointer;
  }
    .hidden-index-items:hover{
      color: gold;
    }
    .hidden-index-items span {
      align-self: flex-end;
    }

  /* Music Volume */
  .music-volume-container {
    position: relative;
    display: flex;
    width: 50%;
    font-family: sans-serif;
      font-size: 1.2vw;
  }
    .music-volume-container input {
      width: 100%;
    }
    
    .volume-container-sections {
      width: 100%;
      display: flex;
      line-height: 1;
      left: 0;
      color: white;
    }
      .volume-container-sections span {
        width: fit-content;
        align-self: center;
        height: 1em;
      }

    .hidden-volume-container {
      position: absolute;
      bottom: 100%;
      background: black;
    }
      .volume-article {
        width: 100%;
      }

