.music-controls-container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
}

  .music-controls-nav {
    display: flex;
    width: 50%;
    height: 100%;
    font-family: sans-serif;
  }
    .current-track-section {
      display: table;
      text-overflow: ellipsis;
      vertical-align: bottom;
      line-height: 1;
      margin: auto 4%;
    }
      .current-track-label {
        font-size: 28px;
        font-size: 1.4vw;
        color: white;
        cursor: pointer;
        transition: ease-out .2s;
        white-space: nowrap;
      }

    .sub-track-index-section {
      position: absolute;
      display: block;
      bottom: 90%;
      width: 30%;
      border-radius: 4px;
      background-color: black;
        opacity: .75;
      text-overflow: ellipsis;
    }

  .music-labels {
    color: white;
    min-height: 1em;
    display: block;
    padding: 1em;
    /* margin: 1em; */
    line-height: 1;
    cursor: pointer;
  }
    .music-labels:hover{
      color: gold;
    }
    .music-labels span {
      align-self: flex-end;
    }
      

