.music-controls-container {
    min-height: 100%;
      height: auto;
    width: 30%;
}

  .music-controls-nav {
    display: flex;
      flex-direction: column-reverse;
    width: 90%;
    padding: 1.5%;
    height: 100%;
  }
    .current-track-section {
      display: table;
      text-overflow: ellipsis;
      vertical-align: bottom;
      line-height: 1;
    }
      .current-track-label {
        font-size: 28px;
        font-size: 1.4vw;
        color: white;
        cursor: pointer;
        transition: ease-out .2s;
      }

    .sub-track-index-section {
      position: absolute;
      display: block;
      bottom: 100%;
      min-width: 100%;
      text-overflow: ellipsis;
    }

  .music-labels {
    color: gold;
    min-height: 1em;
    display: block;
    /* padding: 4px; */
    margin: 1em;
    line-height: 1;
  }
    .music-labels span {
      align-self: flex-end;
    }

