
/* main player */
#location-player-container { 
  overflow: hidden;
  width: 100%; 
  height: 100%; 
  position: relative; 
}

#locationPlayer {
  height: 100%;
  width: 100%;
}

#musicPlayer {
  height: 0%;
  width: 0%;
}

.ytp-chrome-top {
  display: none !important;
  z-index: -1;
}