
/* main player */
.player-component-container { 
  overflow: hidden;
  width: 100%; 
  height: 100%; 
  position: relative; 
  z-index: 10;
}

#locationPlayer {
  height: 100%;
  width: 100%;
  z-index: 10;
  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

#musicPlayer {
  height: 0%;
  width: 0%;
}

.ytp-chrome-top {
  display: none !important;
  z-index: -1;
}

#unclickable-overlay {
  z-index: 15;
  position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}

